/*
GERAL
*/
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #f1f1f1;
  background-image: url('../img/massiveurso.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  margin: 0;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

p {
  text-align: center;
}

.botao {
  color: #f1f1f1;
  padding: 5px 5px 5px 5px;
  font-size: .9em;
}

/*
NAVEGAÇÃO
*/

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > a {
  text-decoration: none;
  font-family: "Pacifico", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 28;
  color: #f1f1f1;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

nav ul li {
  text-align: center;
  width: 50%;
}

nav ul li a {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: #f1f1f1;
}

/*
CABEÇALHO
*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 250px 100px 250px;
}

header p {
  margin-bottom: 2em;
}

/*
FOOTER
*/

footer {
  text-align: center;
  color: #f1f1f1;
}

@media screen and (min-width: 768px) {

  /*
  GERAL
  */

  .botao {
    color: #f1f1f1;
    padding: 5px 5px 5px 5px;
    font-size: .9em;
  }

  /*
  NAVEGAÇÃO E CABEÇALHO
  */

  nav {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul {
    flex-direction: row;
    width: 70%;
  }

  header {
    height: 600px;
    height: 60vh;
    justify-content: center;
  }

  /*

  */
}