/*
GERAL
*/
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #4d4d4d;
  background-color: #8be5ff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  margin: 0;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;

}

p {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

.botao {
  color: #4d4d4d;
  padding: 5px 5px 5px 5px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: 900;
  text-decoration: none;
}

/*
GALLERY
*/

.gallery{
  margin: 10px 50px;
}

.gallery img{
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}


/*
NAV
*/

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > a {
  text-decoration: none;
  font-family: "Pacifico", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 28;
  color: #4d4d4d;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

nav ul li {
  text-align: center;
  width: 50%;
}

nav ul li a {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: #4d4d4d;
}

nav a h1{
  font-family: "Open Sans";
  font-size: 25px;
}

/*
HEADER
*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header p {
  margin-bottom: 2em;
}

/*
DIV
*/

div ul li {
  display: inline;
  flex-direction: column;
  padding: 20px 20px 20px 20px; 
}

center a {
  display: inline;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

/*
FOOTER
*/

footer {
  text-align: center;
  color: #4d4d4d;
  padding: 60px 60px 0px 60px;
}

@media only screen and (max-width: 768px){
  .menu {
    cursor: pointer;  
  }
  
  .menu.hide li {
    display: none;
  }
  
  .menu.show li {
    animation: slidein 3s ease-in 1s infinite reverse both running;
    display: block;
  }  
}

@media screen and (min-width: 768px) {

  /*
  GERAL
  */

  body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .botao {
    color: #4d4d4d;
    font-weight: 80px;
    padding: 5px 5px 5px 5px;
    font-size: .9em;
  }

  /*
  NAV & HEADER
  */

  nav {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul {
    flex-direction: row;
    width: 70%;
  }

  header {
    height: 600px;
    height: 60vh;
    justify-content: center;
  }

  p {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 0px 160px 0px 160px;
    text-align: center;
  }

}